@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  75% {
    opacity: 0.75;
  }
}

.button {
  --border: rgb(0 0 0/13%);
  --highlight: rgb(255 255 255/20%);
  --shadow: rgb(0 0 0/10%);
  display: flex;
  height: 2.5rem;
  user-select: none;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
  border-radius: 0.5rem;
  border-style: none;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
  text-decoration-line: none;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: hsl(204 100% 40%);
  box-shadow:
    inset 0 0 0 1px var(--border),
    inset 0 2px 0 var(--highlight),
    inset 0 -1px 0 var(--shadow),
    0 1px 1px var(--shadow);
  width: 100%;
  justify-content: space-between;
}

.button:where(.dark, .dark *) {
  --border: rgb(255 255 255/10%);
  --highlight: rgb(255 255 255/5%);
  --shadow: rgb(0 0 0/25%);
  background-color: rgb(255 255 255 / 0.05);
  color: white;
  box-shadow:
    inset 0 0 0 1px var(--border),
    inset 0 -1px 0 1px var(--shadow),
    inset 0 1px 0 var(--highlight);
}

.button:not(:active):hover {
  --border: rgb(0 0 0/33%);
}

.button:where(.dark, .dark *):not(:active):hover {
  --border: rgb(255 255 255/25%);
}

.button[aria-disabled='true'] {
  opacity: 0.5;
}

.button[data-focus-visible] {
  outline-style: solid;
}

.button:active,
.button[data-active] {
  padding-top: 0.125rem;
  box-shadow:
    inset 0 0 0 1px var(--border),
    inset 0 2px 0 var(--border);
}

@media (min-width: 640px) {
  .button {
    gap: 0.5rem;
  }
}

.button:active:where(.dark, .dark *),
.button[data-active]:where(.dark, .dark *) {
  box-shadow:
    inset 0 0 0 1px var(--border),
    inset 0 1px 1px 1px var(--shadow);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.popover {
  z-index: 50;
  display: flex;
  max-height: min(var(--popover-available-height, 300px), 300px);
  flex-direction: column;
  overflow: auto;
  overscroll-behavior: contain;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(204 20% 88%);
  background-color: white;
  padding: 0.5rem;
  color: black;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding-top: 0px;
}

.popover:where(.dark, .dark *) {
  border-color: hsl(204 4% 24%);
  background-color: hsl(204 4% 16%);
  color: white;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.25),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.select-item {
  display: flex;
  cursor: default;
  scroll-margin: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  outline: none !important;
  width: 100%;
  scroll-margin-top: 3.5rem;
}

.select-item[aria-disabled='true'] {
  opacity: 0.5;
}

.select-item[data-active-item] {
  background-color: hsl(204 100% 40%);
  color: white;
}

.combobox-wrapper {
  position: sticky;
  top: 0px;
  margin-bottom: 0.5rem;
  width: fit-content;
  background-color: inherit;
  padding-top: 0.5rem;
}

.combobox {
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  border-style: none;
  background-color: hsl(204 20% 94%);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
}

.combobox:hover {
  background-color: hsl(204 20% 91%);
}

.popover:focus-visible,
.popover[data-focus-visible],
.combobox:focus-visible,
.combobox[data-focus-visible] {
  outline: 2px solid hsl(204 100% 40%);
  outline-offset: -1px;
}

.combobox:where(.dark, .dark *) {
  background-color: hsl(204 4% 10%);
  color: white;
}

.combobox:hover:where(.dark, .dark *) {
  background-color: hsl(204 4% 8%);
}

.rate-option {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0.375rem 0.75rem;
  font-size: 0.825rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
